.header {
  border-bottom: 1px solid var(--header-underline-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--solid-black-color);
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
  margin-right: 93px;
}

.logo-left-part {
  color: var(--brand-color);
}

.nav-list {
  display: flex;
}

.nav-item {
  padding: 20px 0;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 20px 0;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.nav-link.current {
  color: var(--brand-color);
}

.current::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 4px;
}

.contacts-list {
  display: flex;
}

.contacts-item:last-child {
  margin-left: 50px;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--timing-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--brand-color);
}
